.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

    ion-icon {
        font-size: 10rem;
    }

}

.txtState {
    text-align: center;
    padding: 10px;
}