<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="action">
    <div #qr class="icon">
      <ion-icon name="qr-scanner"></ion-icon>
    </div>
    <div class=button>
      <ion-button (click)="openQRScanner()">
        Verify QR Code
      </ion-button>
    </div>
  </div>

  <div class="history">
    <ion-list>
      <ion-list-header>
        <ion-label>HISTORY</ion-label>
      </ion-list-header>

      <ion-item>
        Product 1
        <ion-icon slot="end" color="danger" name="close"></ion-icon>

      </ion-item>
      <ion-item>
        Product 1
        <ion-icon slot="end" color="success" name="done-all"></ion-icon>

      </ion-item>
    </ion-list>
  </div>
</ion-content>